<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
   
    <link rel="stylesheet" href="/css/nav-footer.css">
    <link rel="stylesheet" href="/css/generate.css">
    <title>Document</title>
</head>
<body>
    <nav>

        <a href="/" class="logo">
            <h1 class="hide-lg">lOGO</h1>
            <i class=" hide-sm bi bi-house-door-fill"></i>
        </a>
        <ul class="nav-links">

            <li><a class="hide-sm" href="/add-questions"><i class="bi bi-file-earmark-plus"></i></a></li>
            <li><a class="hide-sm" href="/about"><i class="bi bi-file-person"></i></a></li>
            <li><a class="hide-sm" href="/Database"><i class="bi bi-database"></i></a></li>


            <li><a class="hide-lg" href="/add-questions">ADD QUESTION</a></li>
            <li><a class="hide-lg" href="/about">ABOUT US</a></li>
            <li><a class="hide-lg" href="/Database">DATABASE</a></li>
        </ul>

    </nav>


    <!-- <div class="container">
        <form action="/generate" method="post">
        <div class="title medium">CHOOSE A DIFFICULTY LEVEL</div>
            <select name="Difficulty" id="Difficulty" >
              <option value="Easy">EASY</option>
              <option value="Medium">MEDIUM</option>
              <option value="Hard">HARD</option>
            </select>
            <button class="btn" type="submit">GENERATE</button>
        </form>
    </div> -->



        <div class="container">
        <form id="generateForm" action="/generate" method="post">
        <!-- <div class="title medium">CHOOSE A DIFFICULTY LEVEL</div> -->

        <div id="addBtn" class="add"><span >Add</span></div>
        <div class="questions">

            <div class="question" id="question1">
                <div class="number">1</div>
                <input placeholder="section" type="text" class="section">
                <select name="mark" id="Mark" class="mark">
                    <option value="0">Mark</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                <select name="Dlevel" id="Difficulty" class="Difficulty">
                    <option value="Easy">Easy</option>
                    <option value="Moderate">Moderate</option>
                    <option value="Difficult">Difficult</option>
                  </select>

                <select name="Clevel" id="Cognitive" class="Cognitive">
                    <option value="Knowledge">Knowledge</option>
                    <option value="Comprehension">Comprehension</option>
                    <option value="Application">Application</option>
                    <option value="Analysis">Analysis</option>
                    <option value="Synthesis">Synthesis</option>
                  </select>
    
                <div class="buttons">
                    <div class="delete"><span class="material-symbols-outlined">
                        delete
                        </span></div>
             
                </div>
            </div>


        </div>

 
        <input class="hide" type="text" name="data" id="form-data">
        <input class="hide" type="number" name="number" id="numOfQuestions">
     
        <button class="btn" id="submitBtn" type="submit">GENERATE</button>
            
        </form>
    </div>


    <footer>
        <div class="nav-buttons">
            <a href="/" class="nav-btn"></a>
            <a href="/generate" class="nav-btn"></a>
            <a href="/about" class="nav-btn"></a>
        </div>
        <div class="text">ONLINE SERVICE</div>
    </footer>

    <script src="/javascript/script.js"></script>
</body>
</html>