@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid green; */
}

.hide{
    display: none;
}
.nav-links li a{
    white-space: nowrap; 
}
body{
    height: 100vh;
    background-color: #dfdcf9;
    padding: 30px 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container{
    /* padding: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.soon{
    font-size: 70px;
    font-weight: 700;
    color: rgba(143, 143, 143, 0.163);
}
.nav-btn:nth-child(3){
    background-color: #a69ef0;
}
.hide-sm{
    display: none;
}



@media (width<576px) {
    body{
        height: 100%;
        display: block;
        overflow: auto;
        background-color: #dedcf9;
        padding: 10px 10px 10px 10px;
    }
        footer{
            display: none ;
        }
        .hide-lg{
            display: none;
        }
    
        .hide-sm{
            display: block;
        }
        .nav-links{
            width: 50%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            gap:20px;
        }
        .nav-links li{
            font-weight: 500;
            text-align: end;
            /* width: ; */
            transition: all .2s ease-in-out;
            text-align: end;
            cursor: pointer;
        }
        i{
            font-size: 20px;
            color: #4b4585;
        }
        .hero-text{
            width: 100%;
        }
        li:hover{
            transform: translateY(-5px);
            box-shadow: 0px 25px 20px -20px #bab4f3;
        }
        .soon{
            padding-top: 300px;
            font-size: 40px;
        }
    
    
    }