.mathquill-output {
    display: inline-block;
    position: relative;
  }
  
  .mathquill-output sup {
    font-size: smaller;
    position: absolute;
    top: -0.5em;
  }
  .btn-group{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .btn-math{
    background-color: #efedfc;
    border: 1px solid #bab4f3 ;
    border-radius: 5px;
    padding: 8px 10px;
    width: calc(100% / 12);
  }
  #save-button{
    width: 100%;
    background-color: #a69ef0;
    color: #fff;
    border: 1px solid #bab4f3 ;
    border-radius: 5px;
    padding: 8px 10px;
  }