@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    font-size: 10px !important;
    font-weight: 300;
    /* border: 1px solid green; */
}

.hide{
    display: none;
}

a{
    text-decoration: none;
}
body{
    height: 100vh;
    overflow: hidden;
    background-color: #efedfc;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.parent *{
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 5px;
}
.container{
    width: 95vw;
    max-width: 500px;
    aspect-ratio: 7/9.5 ;
    font-size: 12px;
    gap: 10px;
    overflow-y: auto;
}

.a4-wrapper{
    box-shadow: 25px 0 20px -20px #dfdcf9, -25px 0 20px -20px #dfdcf9;
    width: 95vw;
    max-width: 500px;
    background-color: white;
    aspect-ratio: 7/9.5 ;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}


.parent {  display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 1fr 1fr 1.5fr 1.1fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo university"
      "logo department"
      "logo exam"
      "logo details"
      "student-name blank"
      "student-id blank2"
      "specialization blank3"
      "invi-sign blank4"
      "level Advanced-diploma"
      "course-name probablity-stas"
      "course-code stat3101"
      "section blank5";
      border: 1px solid black;
      border-right: 0;
  }
  
  .logo { grid-area: logo; }
  
  .university { grid-area: university; }
  
  .department { grid-area: department; }
  
  .exam { grid-area: exam; }
  
  .details { grid-area: details; }
  
  .student-name { grid-area: student-name; }
  
  .student-id { grid-area: student-id; }
  
  .specialization { grid-area: specialization; }
  
  .invi-sign { grid-area: invi-sign; }
  
  .level { grid-area: level; }
  
  .course-name { grid-area: course-name; }
  
  .course-code { grid-area: course-code; }
  
  .section { grid-area: section; }
  
  .Advanced-diploma { grid-area: Advanced-diploma; }
  
  .probablity-stas { grid-area: probablity-stas; }
  
  .stat3101 { grid-area: stat3101; }
  
  .blank { grid-area: blank; }
  
  .blank2 { grid-area: blank2; }
  
  .blank3 { grid-area: blank3; }
  
  .blank4 { grid-area: blank4; }
  
  .blank5 { grid-area: blank5; }
  
  

.details{
    width: 100%;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;

}


.logo-img{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
.logo{
    padding: 0;
    margin: 0;
    border-top: none;
}
.Uname{

}
.university{
    justify-content: center;
    border-top: none;
}
.department{
    justify-content: center;
}
.detail{
    border: none;
    border-left: 1px solid black;
    padding: 5px 2px ;
}
.detail:first-child{
    border: none;
}
.h-tag{
    border: none;
}
.exam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questtions-wrapper{
    margin-top: 20px;
    /* padding: 30px 0 0 30px ; */
    width: 100%;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.btn{
    font-size: 12px;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #a69ef0;
    border: 1px solid #dfdcf9 ;
    color: #fff;
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;

}

.instructions{
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px 20px ;

}






.bottom-sec{
    justify-content: space-between;
    display: flex;
    /* height: 30px;     */
    width: 95vw;
    max-width: 500px;
}

.btn:hover{
    transform: translateY(-5px);
    box-shadow: 0px 25px 20px -20px #bab4f3;

}

.questionImg{
    width: 30%;
}
.question-div{
    width: 100%;
}
.math-field{
    border: none;
    width: 100%;
}
.mq-root-block{
    width: 100%;
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Table header row */
  table th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  /* Table data rows */
  table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Alternating row background color */
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
 .option-a{
    margin-top: 10px;
}

hr{
    border: .1px solid rgb(184, 184, 184);
    margin-top: 15px;
}

.marks *{
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.marks {  display: grid;
    grid-template-columns: 1.6fr 0.7fr 0.7fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "section- max-marks obtained-marks"
      "A ten blank1"
      "B twenty blank2"
      "sub-total-marks black3 blank4"
      "grand-total-marks thirty blank5";
      margin-top: 20px;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
  }
  
  .section- { grid-area: section-; }
  
  .max-marks { grid-area: max-marks; }
  
  .obtained-marks { grid-area: obtained-marks; }
  
  .A { grid-area: A; }
  
  .B { grid-area: B; }
  
  .ten { grid-area: ten; }
  
  .twenty { grid-area: twenty; }
  
  .blank1 { grid-area: blank1; }
  
  .blank2 { grid-area: blank2; }
  
  .sub-total-marks { grid-area: sub-total-marks; }
  
  .grand-total-marks { grid-area: grand-total-marks; }
  
  .black3 { grid-area: black3; }
  
  .blank4 { grid-area: blank4; }
  
  .thirty { grid-area: thirty; }
  
  .blank5 { grid-area: blank5; }
  





@media print {
     
    .container{
        position: absolute;
        top: 0;
        left: 0;
        aspect-ratio: 7/10;
        width: 100vw;
        max-width: 100vw;
        
    }
 
    .a4-wrapper{
        aspect-ratio: 7/10;
        width: 100vw;
        max-width: 100vw;
        
    }
  
  }